.container{
    margin: auto;
    margin-top: 100px;
    height: 550px;
    width: 350px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    gap: 10px;
    padding: 15px 4px 10px 4px;
}
.container div{
    border: 2px solid black;
}

.screen{
    flex: .3;
    display: flex;
    font-size: 70px;
    justify-content: right;
    align-items: center;
    background-color: rgb(167, 167, 167);
    text-wrap: wrap;
    border-radius: 20px;
}
.keypad{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap : 3px;
    border-radius: 20px;
}
.keys{
    height: 19%;
    flex: 1 1 22%;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    border-radius: 20px;
}
#zero{
    flex: 1 1 50%;
}
.number{
    background-color: rgb(156, 243, 156);
}
.arithmetic{
    background-color: rgb(255, 216, 145);
}
.special{
    background-color: rgb(132, 132, 255);
}
#equal{
    background-color: rgb(239, 90, 90);
}